# 온통청년 Open API 인증키
YOUTH_API_KEY=

# Gemini
GEMINI_API_KEY=

# Upstage
UPSTAGE_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=
# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=
